<div class="ui container middle aligned stackable">
<button class="ui basic button right floated" [class.loading]="isLoading" (click)="refresh()">
    <i class="fa fa-refresh" aria-hidden="true"></i> &nbsp;More Apps
</button><br/>
  <div class="ui link cards" >
  <div class="card" *ngFor="let app of results">
    <div class="content">
      <div class="header">
        <a class="result-name" [routerLink]="['/docs', app.owner, app.id]">{{app.name}}</a>
      </div>
      <div class="meta">
        <a [routerLink]="['/docs',app.owner]">{{app.owner}}</a>
      </div>
      <div class="description">
        {{app.description}}
      </div>
    </div>
    <div class="extra content">
      <span>
        <i class="fa fa-flask" *ngIf="app.html_url"></i>
              {{app.html_url}}
      </span>
    </div>
  </div>
</div>


</div>
