
<div class="ui grid">
  <div class="three wide column">
    <div class="ui left vertical menu secondary vertical pointing">
      <div class="search item ui fluid">
        <div class="ui icon input">
          <input type="text" #search placeholder="Filter services..." (keyup)="filterServices(search.value)">
          <i class="search link icon"></i>
        </div>
      </div>
      <a class="item" (click)="setCurrent('pepper-doc-intro')" [class.active]="current == 'pepper-doc-intro'">Introduction</a>
      <div *ngFor="let service of services">
        <div class="header item">{{service.name}}</div>
        <a class="item"  *ngFor="let operation of service.operations"  (click)="setCurrent(operation.name)" [class.active]="current == operation.name">{{operation.name}}
          <div class="ui left pointing label"
          [class.green]="operation.method == 'GET'"
          [class.red]="operation.method == 'DELETE'"
          [class.grey]="operation.method == 'PUT'"
          [class.blue]="operation.method == 'POST'"
          >{{operation.method}}</div></a>
        </div>
      </div>
    </div>
    <div class="twelve wide column">
      <div *ngIf="data" class="ui container">
        <div class="ui horizontal divider"> </div>
        <div class="ui header huge">{{data.name}}
          <div class="sub header">{{data.description}}</div>
        </div>

        <div *ngIf="current == 'pepper-doc-intro'" class="ui piled segment" [innerHTML]="data.introduction"></div>
        <div class="ui horizontal divider"> </div>
        <div *ngFor="let service of services">
          <div  *ngFor="let operation of service.operations">
            <div  *ngIf="current == operation.name" class="ui piled segment">
              <a class="ui ribbon label" [class.green]="operation.method == 'GET'"
              [class.red]="operation.method == 'DELETE'"
              [class.grey]="operation.method == 'PUT'"
              [class.blue]="operation.method == 'POST'">{{operation.method}}</a>

              <h3 class="ui header">
                <i class="fa fa-code fa-2x"></i>&nbsp;&nbsp;
                <div class="content">
                  {{service.name}} / {{operation.name}}
                  <div class="sub header">{{operation.url}}</div>
                </div>
              </h3>

              <div class="ui horizontal divider"> </div>
              <div class="ui pointing secondary menu">
                <a class="item" [class.active]="tab == 'reference'" (click)="setTab('reference')">Reference</a>
                <a class="item" [class.active]="tab == 'notes'" (click)="setTab('notes')">Notes</a>
              <!--  <a class="item" [class.active]="tab == 'test'" (click)="setTab('test')">Test</a>-->
              </div>
              <div class="ui segment basic" *ngIf="tab == 'reference'">
                <h4 *ngIf="operation.params && operation.params.length">Parameters</h4>
                <table class="ui celled table" *ngIf="operation.params && operation.params.length">
                  <thead>
                      <tr>
                          <th>Parameter</th>
                          <th>Type</th>
                          <th>Description</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let param of operation.params">
                      <td>{{param.name}}</td>
                      <td>{{param.type}}</td>
                      <td>{{param.description}}</td>
                    </tr>
                  </tbody>
                </table>

                <h4 *ngIf="operation.responses && operation.responses.length">Responses</h4>
                <table class="ui celled table" *ngIf="operation.responses && operation.responses.length">
                  <thead>
                      <tr>
                          <th>Code</th>
                          <th>Body Prototype</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let response of operation.responses">
                      <td><b>{{response.code}}</b></td>
                      <td><div [innerHTML]="response.body | prettyprint"></div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="ui segment basic" *ngIf="tab == 'notes'">
                <table class="ui celled table" *ngIf="operation.notes && operation.notes.length">
                  <tbody>
                    <tr *ngFor="let note of operation.notes">
                      <td>{{note}}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="ui message" *ngIf="!operation.notes || !operation.notes.length">
                <p>Operation without notes!</p>
                </div>
              </div>
              <!--<div class="ui segment basic" *ngIf="tab == 'test'">
                test
              </div>-->

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="one column"></div>
  </div>
