<div class="ui menu">
  <div class="item">
     <img src="pepper-doc.png">
  </div>

  <div class="search item ui fluid " style="width:30%" [class.loading]="isLoading">
    <div class="ui icon input">
      <input type="text" #search placeholder="Search..." (keyup)="searchProfiles(search.value)">
      <i class="search link icon"></i>
    </div>
  </div>

  <a class="item"[routerLink]="['/docs']">
    Explore
  </a>
  <div class="menu right secondary">
    <a sm-item href="https://github.com/login/oauth/authorize?client_id=a023dd0f88014d41ef6b&scope=user&redirect_uri=http://localhost:3000/">
        <i class="github big icon"></i> Login With Github</a>
    <a sm-item [routerLink]="['/about']">
      About
    </a>
  </div>
</div>



<div>
<router-outlet>
</router-outlet>
</div>
