
<div class="ui container middle aligned stackable" *ngIf="data.profile">

  <div class="ui grid">
    <div class="four wide column">

      <div class="ui card">
        <div class="image">
          <img src="{{data.profile.avatar_url}}">
        </div>
        <div class="content">
          <a class="header">{{data.profile.name}}</a>
          <div class="description">
            {{data.profile.html_url}}
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
              @{{data.profile.login}}
          </span>
          <a>
            <i class="fa fa-cube"></i>
            {{data.apps.length}} Apps
          </a>
        </div>
      </div>

    </div>
    <div class="twelve wide column">
      <div class="search item ui fluid" style="width:100%">
        <div class="ui icon input" style="width:100%">
          <input type="text" #search placeholder="Search apps..." (keyup)="filterApps(search.value)">
          <i class="search link icon"></i>
        </div>
      </div>
      <div>
        <div class="ui stacked segment" style="margin-top:10px"  *ngFor="let app of listApps">
          <h3 class="ui header">
            <div class="content">
              <a class="result-name" [routerLink]="['/docs', app.owner,  app.id]">{{app.name}}</a>
              <div class="sub header">{{app.description}}<br *ngIf="app.html_url"/>
                <i class="fa fa-flask" *ngIf="app.html_url"></i>
                {{app.html_url}}
              </div>
            </div>
          </h3>
        </div>
      </div>

    </div>
  </div>
</div>
