<div class="ui container middle aligned stackable" *ngIf="search">
<br/>

<div class="ui grid">
  <div class="four wide column">

    <div class="ui vertical menu" style="width:100%">
      <a class="item" [class.red]="resultMode == 1" [class.active]="resultMode == 1" (click)="setResultMode(1)">
        <i class="fa fa-users"></i>&nbsp;&nbsp;Users
        <div class="ui left pointing label" [class.red]="resultMode == 1">{{response.users.length}}</div>
      </a>
      <a class="item" [class.red]="resultMode == 2" [class.active]="resultMode == 2" (click)="setResultMode(2)">
        <i class="fa fa-coffee"></i>&nbsp;&nbsp;Apps
        <div class="ui left pointing label" [class.red]="resultMode == 2">{{response.apps.length}}</div>
      </a>
    </div>

  </div>
  <div class="twelve wide column">

    <h3 class="ui header" *ngIf="resultMode == 1">We've found {{list.length}} user results</h3>
    <h3 class="ui header" *ngIf="resultMode == 2">We've found {{list.length}} app results</h3>

    <div *ngIf="resultMode == 1">
      <div class="ui stacked segment" style="margin-top:10px"  *ngFor="let user of results">
        <h3 class="ui header">
          <img src="{{user.avatar_url}}" class="ui circular image">
          <div class="content">
            <a class="result-name" [routerLink]="['/docs', user.login]">{{user.name}}</a>
             <div class="sub header">@{{user.login}}<br/>
                <i class="github alternate icon"></i>
                {{user.html_url}}
             </div>
          </div>
        </h3>
      </div>
    </div>

      <div *ngIf="resultMode == 2">
      <div class="ui stacked segment" style="margin-top:10px"  *ngFor="let app of results">
        <h3 class="ui header">
          <img src="assets/app.png" class="ui image">
          <div class="content">
            <a class="result-name" [routerLink]="['/docs', app.owner, app.id]">{{app.name}}</a>
             <div class="sub header">{{app.description}}<br *ngIf="app.html_url"/>
                <i class="fa fa-flask" *ngIf="app.html_url"></i>
                      {{app.html_url}}
             </div>
          </div>
        </h3>
      </div>
     </div>
     <br/>
     <div class="ui center aligned container" *ngIf="list.length > 10">
        <div class="ui pagination menu">
          <a class="item" [class.disabled]="currentPage == 1" (click)="first()">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
          </a>
          <a class="item" [class.disabled]="currentPage == 1" (click)="previous()">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </a>
          <div class="item">
             {{currentPage}} OF {{totalPages}}
          </div>
          <a class="item" [class.disabled]="currentPage == totalPages" (click)="next()">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a>
          <a class="item" [class.disabled]="currentPage == totalPages" (click)="last()">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </a>
       </div>
    </div>

  </div>
</div>
</div>
<div class="ui vertical masthead aligned segment"  *ngIf="!search">
<div class="ui container middle aligned stackable" style="padding-top:150px;">
  <div class="ui text container">
    <h1 class="ui header">
     <i class="fa fa-search"></i>&nbsp;&nbsp;Search Users or Apps
    </h1>


      <div class="search item ui fluid " style="width:100%" [class.loading]="isLoading">
        <div class="ui big icon input" style="width:100%" >
          <input type="text" #search placeholder="Search..." (change)="searchProfiles(search.value)">
          <i class="search link icon"></i>
        </div>
      </div>

      <p style="width:100%; text-align:right">or <a class="item result-name"[routerLink]="['/docs']">
        Explore</a> some interesting Apps</p>

  </div>
</div>
</div>
