<div class="container">
<div class="ui stacked segment"  *ngFor="let user of results" [routerLink]="['/docs',user.login]">
  <div class="image">
  <img src="{{user.avatar_url}}">
  </div>
  <div class="content">
  <a class="header">{{user.name}}</a>
  <div class="meta">
    <span>@{{user.login}}</span>
  </div>
  <div class="description">
    <p></p>
  </div>
  <div class="extra">
    <i class="github alternate icon"></i>
    {{user.html_url}}
  </div>
  </div>
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
</div>
</div>
